# --- BẢO MẬT (Quan trọng nhất) ---
# Không bao giờ đẩy file chứa API Key lên GitHub
.env

# --- DỮ LIỆU (Data Lake) ---
# Không đẩy các ảnh camera đã tải về và dữ liệu thô
data/
logs/
*.jpg
*.jpeg
*.png
*.json
*.csv

# --- DOCKER & KAFKA ---
# Không đẩy dữ liệu lưu trữ của database và kafka
postgres_data/
kafka_data/

# --- PYTHON ---
# Các file rác khi chạy Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# --- IDE & HỆ ĐIỀU HÀNH ---
.vscode/
.idea/
.DS_Store
Thumbs.db